# Keystore
*.keystore
*.jks

# Android
*.class
*.log
*.apk
*.aab
*.ap_
local.properties

# Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Android Studio
*.iml
.idea/
*.DS_Store
.navigation/

# Kotlin
.kotlin/

# Divers
*.jar
!gradle/wrapper/gradle-wrapper.jar
hs_err_pid*
replay_pid*